extends _base

block content
   .container
      nav#home-menu
         ul
            for item in menu
               li
                     a(href='#{item.link}')= item.name


      //- #products
      //-    for product in products
      //-       .product
      //-          img(src='images/products/' + product.image)
      //-          h2.name= product.name
      //-          p.price= product.price + ' SFr.'
      //-          p= product.ku + ' ku'


   //- .container
   //-    .video-wrapper
   //-       iframe(src='https://player.vimeo.com/video/245454737?title=0&byline=0&portrait=0', frameborder="0", webkitallowfullscreen, allowfullscreen)
   //-    button#buy-button.primary-button kaufen