extends _base

block content
      //- #intro
      //-    img(src='/images/chrysa.jpg')
      .container
         h1 Die <br> krasse <br> Tasse
         section
            #hello Liebe Konsumentin, lieber Konsument
            p.paragraph.
               Entdecken Sie das neueste Produkt aus dem Hause <em>Die Krasse Tasse GmbH</em>:
                  die <span class='product'>Krasse Tasse</span>. Diese neuartige Tasse besticht 
                  vor allem durch ihre <span class='color-blink'>Krassheit</span>. Erfahren Sie, was unsere bisherigen Kunden zu 
                  berichten haben:
         section
            h2 Testimonials
            for testimonial in testimonials
               blockquote.testimonial
                  p.text= testimonial.text
                  p.author= testimonial.author_name + ', ' + testimonial.author_age          
         section#konsum
            h2 Konsum
            p. 
               Hat Sie unser Produkt überzeugt? Dann zögern Sie nicht. Holen Sie sich jetzt eine <span class='product'>Krasse Tasse</span>
               und geniessen Sie Ihr neues Leben! Denn die <span class='product'>Krasse Tasse</span> wird auch Ihr 
               Leben verändern! Sie haben folgende Möglichkeiten, ihr eigenes Exemplar zu erwerben:
            ul.arrow-list
               li Persönliche Übergabe durch den Produkt-Erfinder Dominic Looser in Zürich
                  p <a href='mailto:dominic.looser@gmail.com'>Jetzt Termin vereinbaren</a>
               li Als Gastprodukt bei <a href='http://friedmannschmuck.ch'> Friedmann Schmuck</a> in der krassen Zürcher Altstadt. 
               li Versand  
         section
            p Greifen Sie jetzt zu. Es sind nur noch
            p#number 5
            p
               span.product Krasse Tasse
               span n übrig.  
         del
            section
               h2 Preis
               p. 
                  Die <span class='product'>Krasse Tasse</span> ist mit ganz viel
                  <span class='color-blink'>Liebe</span> erdacht, entworfen und entwickelt worden.
                  Nur so kann ein so hoher Grad an Krassheit gewährleistet werden. Und
                  damit <em>Die Krasse Tasse GmbH</em> auch in Zukunft noch so viel Liebe in
                  ihre Produkte stecken kann, können wir die <span class='product'>Krasse Tasse</span>
                  leider nicht kostenlos abgeben.
               
               p. 
                  Aber: Wir wären nicht <em>Die Krasse Tasse GmbH</em>, wenn
                  wir uns nicht auch beim Preis etwas ganz Spezielles hätten einfallen lassen.
                  Der Preis ist nämlich <span class='color-blink'>zufällig</span>! Richtig gehört, Sie
                  erfahren erst, nachdem Sie sich für die <span class='product'>Krasse Tasse</span>
                  entschieden haben, wieviel Sie dafür zahlen werden. Der Preis ist zwischen 5 Rappen
                  und 99.95 Schweizer Franken. Vielleicht kriegen Sie ihre Tasse sogar unter einem
                  Franken. 
               
               p. 
                  Aber das ist noch nicht alles. Wenn Sie jetzt bestellen, kriegen Sie sogar die
                  <span class='product'>Sehr Krasse Tasse</span> gratis dazu. Wenn das nicht 
                  krass ist! 
         section
            h2 Wichtige Durchsage
            p.
               Die Schweizer Materialprüfungsanstalt (EMPA) hat zu hohe Krassheits-Werte bei der <span class='product'>Krassen Tasse</span>
               festgestellt. Sie übersteigen sowohl die Schweizer als auch die Internationale Krassehits-Norm 
               um ein Vielfaches. Ein solch krasses Produktes wurde noch nie getestet und es müssen zuerst
               neue Richtlinien aufgestellt werden.

            p. 
               Aus diesem Grund ist die <span class='product'>Krasse Tasse</span> zur Zeit leider unverkäuflich. Die Krasse Tasse GmbH 
               kann aber in ganz seltenen Fällen Ausnahmen machen. Wird zum Beispiel ein sehr überschwängliches und
               originelles Testimonial geschrieben oder gefilmt, werden wir uns nach Analyse des potentiellen
               Werbematerials überlegen, eventuell eine der beliebten Tassen abzugeben.

         //- p <em>Die Krasse Tasse</em>® ist aus Liebe entstanden. Aus viel Liebe.
         //- p Das Produkt unterscheidet sich durch ihren aussergewöhnlichen Grad an Krassheit von anderen (un)vergleichbaren Waren.
         //- p
         //-    <strong> <em> Die Krasse Tasse </em> kann nicht käuflich erworben werden. </strong>

         //- p Sie ist dadurch die krasseste unkaufbare Tasse der Welt. 
         //- p Und zusätzlich die krasseste nicht kaufbare Tasse, unverkäufliche, kaufen-nix-e Tasse.
         //- p. 
         //-    Bestellen Sie noch heute eine <em>Krasse Tasse</em>! Wenn Sie in den nächsten 17.4678294 Sekunden anrufen, kriege sie noch eine zweite Tasse (die <em>Sehr Krasse Tasse</em>) kostenlos dazu!



//- block scripts
//-    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
//-    script(src='/node_modules/fittext.js/jquery.fittext.js')
//-    script(src='scripts/fittext.js')