extends _base

block body
   #border
      .small-wrapper
         p.
            ACHTUNG! Sie befinden sich auf der Grenze 
            zwischen Kunst und Kommerz.   
         p Kosten Sie diesen Moment aus. Entspannen Sie sich. 
         p.
            Gut. Wenn Sie es hier aushalten, halten Sie es überall aus. Dies ist die 
            Zone der Erlösung: zwischen den Zeilen und ohne Orientierungshilfe. 
         p Sehr gut. Wählen Sie nun, wie es weiter geht:
         #buttons
            a(href='/').big-button Kunst
            a(href='konsum').big-button Kommerz