.page-header
    background: page-header-background-color
    color: page-header-color

.button
    font-family: header-font
    font-weight: 700
    letter-spacing: 0.05em
    color: dark
    border: none
    cursor: pointer
    text-transform: uppercase
    padding: 0.5em 1em
    &:hover
        background-color: button-color
        color: white

.big-button
    @extends .button
    width: 300px
    font-size: var(--m)

.primary-button
    @extends .button
    // color: primary-color
    // border: 3px solid primary-color
    font-size: var(--l)
    

.hidden
    display: none

.two-columns 
    @media two-columns
        display: flex
        .column
            flex-basis: 50%
        .column:first-child
            margin-right: 10px
        .column:nth-child(2)
            margin-left: 10px
        

.third-columns
    @media two-columns
        display: flex
        .column:first-child
            flex: 1
        .column:nth-child(2)
            flex: 2
            margin-left: calc(2*var(--unit))

.text-plus
    @media text-plus
        display: flex

.text-plus-text
    margin: var(--unit) 0 0 0
    @media textplus
        margin: 0 var(--unit) 0 0

.text-plus-plus
    align-self: left

.plus-text
    @media text-plus
        display: flex

.plus-text-text
    margin: var(--unit) 0 0 0
    @media text-plus
        margin: 0 0 0 var(--unit)

.plus-text-plus
    align-self: left

.colored
    color: primaryColor

.unmarked-links
    a
        text-decoration: none

.arrow-list
    list-style: none
    li:before
        content: '\2192 \a0'

.lined-list
    list-style: none
    padding: 0
    li  
        padding: var(--semi-unit) 0 
        border-top: 1px solid dark
        :last-child
            border-bottom: 1px solid dark

.separated-list
    list-style: none
    margin: 0
    li 
        display: inline
    li:not(:last-child)
        margin-right: 10px

.definition-list
    dt
        display: inline
        font-weight: bold
        &::after
            content: ':'
    dd
        display: inline
        margin-left:var(--unit) 
        width: 100%
        &::after
            content: '\A'
            white-space: pre

.container
    margin: 0 auto
    padding: 0 var(--unit)
    max-width: max-page-width
    @media two-column
        padding: 0

.small-container
    margin: 0 auto
    padding: 0 var(--default-padding)
    max-width: small-page-width
    
   
.text-container
    max-width: text-width

.video-wrapper 
    position: relative
    padding-bottom: 56.25% /* 16:9 */
    padding-top: 25px
    height: 0
    iframe 
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

@keyframes fontalicious
  0%
    font-family: helvetica
  10%
    font-family: times
  20% 
    font-family: fantasy
  30%
    font-family: monospace
  40% 
    font-family: Palatino
  50%
    font-family: Tahoma
  60%
    font-family: impact
  70%
    font-family: cursive
  80% 
    font-family: monospace
  90% 
    font-family: fantasy
  99%
    font-family: futura