.testimonial
    padding-right: var(--semi-unit)
    margin-bottom: var(--unit)
    color: white
    .text
        border-left: 4px solid white
        padding-left: var(--semi-unit)
        font-family: heading-font
        font-weight: 900
        font-size: var(--m)
        line-height: header-line-height
        text-transform: uppercase
        letter-spacing: 0.03em
        font-style: italic
    .author
        margin-top: var(--semi-unit)
        
blockquote
    padding: 0
    margin: 0



.site-header
    font-family: heading-font
    display: block
    text-decoration: none
    text-transform: uppercase
    font-size: var(--m)
    line-height: header-line-height
    padding: var(--semi-unit) 0
    border-bottom: 1px solid text-color

.page-title
    color: primary-color
    margin: var(--two-units) 0
    font-size: var(--xl)
    &::first-letter
        text-transform: uppercase

///
/// home
///

#home
    header 
        margin-top: var(--two-units)
        text-transform: uppercase
        h1
            font-size: var(--l)
    .subtitles
        margin-top: var(--semi-unit)
        font-family: heading-font
        color: heading-color
        font-style: italic
        @media three-columns
            p
                display: inline
                &:after
                    content: ','
                    margin-right: 10px


.stars
    margin-top: var(--three-units)
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    @media three-columns
        flex-direction: row

.star
    & + .star
        margin-top: var(--unit)
        @media triple-grid
            margin: 0
    display: block
    width: 100%
    polygon
        stroke: dred
        stroke-width: 5
        fill: dyellow
    text
        font-family: heading-font
        text-transform: uppercase
        fill: dred
        text-anchor: middle
    &:hover
        polygon
            fill: dred
            stroke: dred
        text
            fill: background-color



///
/// konsum
///

img
    width: 100%

#number
    font-family: heading-font
    font-weight: 900
    font-size: 200px
    text-align: center
    color: dpink
    opacity: 0
    @extends .slow-blink

#intro
    ul
        list-style: none
    li
        padding: var(--unit) 0
        border-top: 2px solid primary-color

#products
    display: flex
    flex-wrap: wrap
    margin-top: var(--unit)
    margin-bottom: var(--two-units)

.product
    margin-bottom: var(--unit)
    padding: 0 var(--unit)
    background: dpink
    // max-width: 50%
    // min-width: 40%
    // flex: 1
    
    // &:nth-child(2n+1)
    //     // background-color: red
    //     margin-right: var(--semi-unit)
    // &:nth-child(2n+2)
    //     // background-color: blue
    //     margin-left: var(--semi-unit)
    
    @media three-columns
        max-width: 30%
        &:not(:nth-child(3n+3))
            margin-right: var(--unit)
    .product-picture
        padding: var(--unit) 0
        display: flex
        justify-content: center
        img
            align-self: center
            max-width: 50vw
    .product-info
        background: background-color
        border-bottom: var(--unit) solid dpink
        color: text-color
        margin-top: var(--semi-unit)
        padding: var(--semi-unit)
        header 
            display: flex
            justify-content: space-between
            align-items: flex-end
            margin-bottom: calc(var(--semi-unit))
        footer 
            display: flex
            justify-content: space-between
            align-items: flex-end
            margin-top: calc(var(--unit))
    .product-name
        font-family: heading-font
        font-size: var(--l)
        padding-right: var(--unit)
        line-height: heading-line-height
    .buy-button
        @extends .button
        color: dyellow
        // border: 3px solid blue
        font-family: body-font
        background: dred 
        font-size: var(--m)
    // .product-price
    //     width: 9em
///
/// werbung
/// 

#werbung
    .video-wrapper
        margin-top: var(--two-units)
    img
        margin-top: var(--unit)

///
/// faq
///

#faq
    margin-top: var(--two-units)
    dt
        font-weight: bold
    dd
        margin-bottom: var(--unit)
        margin-left: 0

///
/// firma
///

.person
    margin-bottom: var(--three-units)
    p 
        padding: var(--semi-unit) 0
        border-bottom: 1px solid grey
        font-family: heading-font
        text-transform: uppercase
    .role
        color: primary-color

// .video-wrapper
//     // margin-top: 30vh

// #buy-button
//     display: none
//     margin: 0 auto
//     margin-top: var(--two-units)

// @keyframes blink 
//     50%
//         opacity: 1

// @keyframes color-blink
//     0% 
//         color: red
//     33%
//         color: dark
//     66%
//         color: blue 

// .blink
//     animation-name: blink
//     animation-duration: 1.5s
//     animation-iteration-count: infinite
//     animation-timing-function: steps(1)




// .color-blink
//     animation-name: color-blink
//     animation-duration: 1.5s
//     animation-iteration-count: infinite
//     animation-timing-function: steps(1)

// .hero
//     margin: var(--two-units) 0
//     font-size: 13vw
//     text-transform: uppercase
//     font-weight: 900
//     line-height: 0.9
//     color: red
//     opacity: 0
//     @extends .fast-blink

// #intro
//     img
//         max-height: 80vh

// .product-name
//     font-family: heading-font
//     text-transform: uppercase
//     font-weight: 900
//     @extends .color-blink



// section
//     margin-top: calc(2*var(--unit))

// h2
//     span  
//         border-bottom: 3px solid dark
   
// #konsum
//     li
//         margin-top: calc(0.5*var(--unit))

// #hello
//     font-size: var(--l)
//     margin-bottom: calc(0.5*var(--unit))
//     line-height: 1.2

