html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

html
    background-color: background-color
    height: 100%

img, video, iframe
    max-width: 100%
    max-height: 100%

canvas, img
    vertical-align: middle

body
    padding-bottom: var(--double-unit)

.page-header
    padding: var(--double-unit) 0
    border-bottom: default-border
    h1
        text-transform: uppercase
        color: primary-color
        font-size: var(--xxxxl)
        line-height: 0.9
    
    // h1 
    //     font-family: body-font
    //     font-weight: normal
    //     text-transform: none
    //     font-size: var(--l)