
@keyframes blink 
    50%
        opacity: 1

@keyframes color-blink
    0% 
        color: red
    33%
        color: dark
    66%
        color: blue 

.blink
    animation-name: blink
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-timing-function: steps(1)

.fast-blink
    animation-name: blink
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-timing-function: steps(1)


.color-blink
    animation-name: color-blink
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-timing-function: steps(1)

h1
    margin: var(--double-unit) 0
    font-size: 13vw
    text-transform: uppercase
    font-weight: 900
    line-height: 0.9
    color: red
    opacity: 0
    @extends .fast-blink

#intro
    img
        max-height: 80vh

.product
    font-family: header-font
    text-transform: uppercase
    font-weight: 900
    @extends .color-blink

.testimonial
    padding-right: calc(0.5*var(--unit))
    margin-bottom: calc(1*var(--unit))
    .text
        border-left: 2px solid dark
        padding-left: calc(0.5*var(--unit))

    .author
        margin-top: calc(0.5 * var(--unit))
        font-style: italic
        
blockquote
    padding: 0
    margin: 0


section
    margin-top: calc(2*var(--unit))
h2
    span  
        border-bottom: 3px solid dark
    margin-bottom: var(--unit)
   
body
    padding-bottom: calc(2*var(--unit))
    // background-image: url('chrysa.jpg')
    // background-size: contain
    // background-repeat: no-repeat

#konsum
    li
        margin-top: calc(0.5*var(--unit))

p + p
    margin-top: calc(0.5*var(--unit))

#hello
    font-size: var(--l)
    margin-bottom: calc(0.5*var(--unit))
    line-height: 1.2

#number
    font-family: header-font
    font-weight: 900
    font-size: 200px
    text-align: center
    color: blue
    opacity: 0
    @extends .fast-blink

#faq
    dd
        margin-bottom: var(--unit)
        margin-top: var(--semi-unit)
        margin-left: 0
        font-style: italic