///
/// home
///

#home
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    .testimonial
        margin-bottom: var(--two-units)
        .text
            border-left: none
            padding: 0
            font-size: var(--xxl)
    
    #intro
        // border-top: 3px solid white
        // padding: var(--semi-unit) 0
        // border-bottom: @border-top
        // font-size: var(--l)
        font-family: header-font
        font-weight: 900
        color: dark
        background-color: rgba(256, 256, 256, 0.7) //  rgba(0, 0, 0, 0.5)
        letter-spacing: 0.05em
        padding: var(--semi-unit)
        font-size: var(--m)
        text-transform: uppercase
        
    header
        padding: var(--four-units) 0
        color: white
        h1
            text-align: center
            text-transform: uppercase
            font-size: var(--xxl)
            line-height: 0.9 
    nav
        ul
            list-style: none
        a
            display: block
            border-bottom: default-border
            font-family: header-font
            font-weight: 900
            font-size: var(--xl)
            text-transform: uppercase
            text-decoration: none
            text-align: center
            padding: var(--unit) 0
            &:first-child
                border-top: default-border
            &:hover
                background-color: secondary-color
                color: white


#buy-button
    margin-top: var(--unit)
    color: white
    background-color: primary-color

///
/// konsum
///

#products
    display: flex
    flex-wrap: wrap

.product
    max-width: 50%
    min-width: 40%
    flex: 1
    margin-bottom: var(--unit)
    &:nth-child(3n+1)
        // background-color: red
        margin-right: var(--semi-unit)
    &:nth-child(3n+2)
        // background-color: blue
        margin-left: var(--semi-unit)
    // &:nth-child(3n+3)
    //     background-color: yellow
    @media triple-grid
        max-width: 33%
    .description
        margin: 0
        margin-top: var(--semi-unit)
        padding: var(--semi-unit) 0
        border-top: small-border-width solid text-color
        border-bottom: @border-top
    .name
        margin-bottom: 3px
        font-family: header-font
        font-weight: 900
        text-transform: uppercase

///
/// werbung
/// 

#werbung
    .video-wrapper
        margin-top: var(--two-units)
    img
        margin-top: var(--unit)

///
/// firma
///

.person
    margin-bottom: var(--triple-unit)
    p 
        padding: var(--semi-unit) 0
        border-bottom: 1px solid grey
        font-family: header-font
        text-transform: uppercase
    .role
        color: primary-color

///
/// faq
///

#faq
    margin-top: var(--two-units)
    dt
        color: primary-color
    dd
        margin-bottom: var(--unit)
        margin-left: 0


    




// .video-wrapper
//     // margin-top: 30vh

// #buy-button
//     display: none
//     margin: 0 auto
//     margin-top: var(--two-units)

// @keyframes blink 
//     50%
//         opacity: 1

// @keyframes color-blink
//     0% 
//         color: red
//     33%
//         color: dark
//     66%
//         color: blue 

// .blink
//     animation-name: blink
//     animation-duration: 1.5s
//     animation-iteration-count: infinite
//     animation-timing-function: steps(1)

// .fast-blink
//     animation-name: blink
//     animation-duration: 1s
//     animation-iteration-count: infinite
//     animation-timing-function: steps(1)


// .color-blink
//     animation-name: color-blink
//     animation-duration: 1.5s
//     animation-iteration-count: infinite
//     animation-timing-function: steps(1)

// .hero
//     margin: var(--two-units) 0
//     font-size: 13vw
//     text-transform: uppercase
//     font-weight: 900
//     line-height: 0.9
//     color: red
//     opacity: 0
//     @extends .fast-blink

// #intro
//     img
//         max-height: 80vh

// .product-name
//     font-family: header-font
//     text-transform: uppercase
//     font-weight: 900
//     @extends .color-blink



// section
//     margin-top: calc(2*var(--unit))

// h2
//     span  
//         border-bottom: 3px solid dark
   
// #konsum
//     li
//         margin-top: calc(0.5*var(--unit))

// #hello
//     font-size: var(--l)
//     margin-bottom: calc(0.5*var(--unit))
//     line-height: 1.2

// #number
//     font-family: header-font
//     font-weight: 900
//     font-size: 200px
//     text-align: center
//     color: blue
//     opacity: 0
//     @extends .fast-blink