#hero
    background-image: url('images/chrysa.jpg')
    background-size: cover
    height: 300px
    margin-bottom: calc(1*var(--unit))
    h1
        padding-left: 5px
        padding-top: 150px
        font-size: 40px
        line-height: 0.9
        text-transform: uppercase
        font-weight: 900
        span
            background-color: rgba(256, 256, 256, 50%)
        

.blink
    animation-name: color
    animation-duration: 1.5s
    animation-iteration-count: infinite
    animation-timing-function: steps(1)

@keyframes color
    0% 
        color: red
    33%
        color: dark
    66%
        color: blue 

.product
    font-family: header-font
    text-transform: uppercase
    font-weight: 900
    @extends .blink

.testimonial
    padding-right: calc(0.5*var(--unit))
    margin-bottom: calc(1*var(--unit))
    font-size: var(--m)
    font-weight: normal

    .text
        border-left: 2px solid dark
        padding-left: calc(0.5*var(--unit))

    .author
        margin-top: calc(0.5 * var(--unit))
        font-style: italic
        
blockquote
    padding: 0
    margin: 0

#price-list
    list-style: bullets
    li
        margin-top: var(--unit)

section
    margin-top: calc(2*var(--unit))
h2
    span  
        border-bottom: 3px solid dark
    margin-bottom: var(--unit)
   
body
    padding-bottom: calc(2*var(--unit))

#konsum
    li
        margin-top: calc(0.5*var(--unit))

p + p
    margin-top: calc(0.5*var(--unit))