.person
    margin-bottom: var(--triple-unit)
    p 
        padding: var(--semi-unit) 0
        border-bottom: 1px solid grey
        font-family: header-font
        text-transform: uppercase
    .role
        color: primary-color
