// breakpoints
text-plus = '(min-width: 980px)'
big-text = '(min-width: 40em)'
two-columns = '(min-width: 800px)'
start-left-align = '(min-width: 693px)'

// typography
body-font = 'Lora'//'Roboto Slab' //'Libre Baskerville' //Eczar //Inconsolata
header-font = 'Libre Franklin'
header-line-height = 0.9
text-width = 600px
:root
    --line-height: 1.4
    --scale-factor: 1.3
    --font-size: 18px
    @media big-text
        --font-size: 24px
    --unit: calc(var(--line-height) * var(--font-size))
    --double-unit: calc(2*var(--unit))

// colors
dark = rgba(0,0,0,0.87)
light-grey = #f7f7f7
middle-grey = #e8e6e6
primary-color =  #DB222A
text-color = dark
background-color = #fff
page-header-background-color = inherit
page-header-text-color = inherit
button-color = dark
soft-border-color = grey
footer-background-color = inherit

// misc
border = 1px solid text-color
max-page-width = 700px