html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

html
    background-color: background-color
    height: 100%

img, video, iframe
    max-width: 100%
    max-height: 100%

canvas, img
    vertical-align: middle

body
    // min-height: 100vh
    // padding: var(--two-units) 0
    // background-image: url('/images/background.jpg')
    // background-size: cover
    // background-position-x: -100px
    // @media desktop
    //     background-position-x: 0
    //     background-position-y: -200px
        


// .small-wrapper
//     background-color: rgba(256, 256, 256, 0.3)
    